<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>購入完了</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="result-body">
    <div class="message-box">
      <h1>ガシャン！</h1>
      <p class="big-text"><b><%= item.name %></b> を購入しました。</p>
      <p>お釣りは <b><%= change %>円</b> です。</p>
      <a href="/" class="btn-back">自販機に戻る</a>
    </div>
  </body>
</html>
